
<nav class="navbar navbar-primary navbar-fixed-top sticky-top">
    <!-- <div class="container"> -->
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header"  style="margin-left: 20px;">
      <h1 class="navbar-brand">
        <a href="">
        <img style="width:48px;" src="assets/images/scs.png"> Ayuda REC-WEB</a>
      </h1>
    </div>

    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0 " type="submit">Buscar</button>
        <button class="btn btn-success mxy-2 my-sm-0 ml-2" (click)="showNuevo($event)">Agregar ayuda</button>
        <!-- <button class="btn btn-warning mxy-2 my-sm-0 ml-2" (click)="showNuevo2($event)">ayuda FROALA</button>
        <button class="btn btn-secondary mxy-2 my-sm-0 ml-2" (click)="showNuevo3($event)">ayuda Quill</button> -->
    </form>
    <!-- <div class="navbar-right">
      <div class="navbar-form">
        <input type="search" class="form-control" placeholder="Buscar" id="search-highlight">

        <button data-search="next">&darr;</button>
        <button data-search="prev">&uarr;</button>
        <button data-search="clear">✖</button>
      </div>
    </div> -->
    <!-- /.navbar-collapse -->

  <!-- </div> -->
</nav>

<div>

  <div class="sidenav my-2">
    <ul>
      <li *ngFor="let item of sideMenu">
        <app-sidemenu  [item]="item"></app-sidemenu>
      <li>
    </ul>
  </div>

  <div class="container my-2">
    <h1 class="text-center font-weight-bold"> Ayuda a la prescripción de REC-SCS</h1>
    <app-nuevo *ngIf="togleeNuevo"></app-nuevo>
    <div [hidden]="togleeNuevo">
      <app-principal *ngFor="let item of sideMenu" [body]="item"></app-principal>
    </div>

  </div>
</div>

<!-- <div *ngIf="togleeNuevoFroala" [froalaEditor]>Hello, Froala!</div>
<quill-editor *ngIf="togleeNuevoQuill"></quill-editor> -->



